.flexbox {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}
details {
	border: 1px solid black;
}
details summary {
	font-size: 1.25rem;
}
details[open] summary {
	border-bottom: 1px solid black;
}
