<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}Title{% endblock title %}</title>
	{% endblock head%}
</head>
<body>
	<div id="content">{% block content %}{% endblock content %}</content>
</body>
</html>
