{% extends "base" %}
{% block title %}Index{% endblock title %}

{% block content %}
<h1>{{title}}</h1>

<h2>Kalender</h2>
{% include "components/calendar" %}

<h2>Anmerkninger</h2>
{% include "components/remarks" %}
{% endblock content %}
