{% import "tiles/base" as tile %}
{% extends "base" %}
{% block title %}Index{% endblock title %}

{% block content %}
<h1>{{title}}</h1>

{% include "tiles/calendar" %}
{% include "tiles/remarks" %}

{% endblock content %}
