<html>
<body>
<h1>{{title}}</h1>

<h2>Kalender</h2>
<ul>
{{#each classes}}
<li>{{this}}</li>
{{/each}}
</ul>

<h2>Anmerkninger</h2>
<ul>
{{#each remarks}}
<li>{{this}}</li>
{{/each}}
</ul>

</body>
</html>
