{% extends "base" %}
{% block title %}Index{% endblock title %}

{% block content %}
<h1>{{title}}</h1>

<h2><a href="calendar">Kalender</a></h2>
{% include "components/calendar" %}

<h2><a href="remarks">Anmerkninger</a></h2>
{% include "components/remarks" %}
{% endblock content %}
